# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# Log files
*.out
*.err
*.gz

# Custom
*.ckpt
*.zip

# debug viz
debug_vis/
debug_log_images/
debug_log_temporal_images/